body {
    background-color: white;
}

liczba
{
	color:green;
}

identyfikator
{
	color:blue;
}

symif, symelse
{
	color:purple;
}

symfor
{
	color:teal;
}

symwhile
{
	color:aqua;
}

symdo
{
	color: sienna;
}

symreturn
{
	color:gray;
}

string
{
	color:fuchsia;
}

symnot, symor, symand
{
	color:olive;
}

symplus, symminus, symrazy, symdziel, symrozne, symwieksze, symmniejsze, symnawiasokragly, symnawiaskwadratowy, symnawiasklamrowy, symhash
{
	color:silver;
}
symseparator
{
	color: sienna;
}
blad
{
	color: red;
}
